<div class="ngdialog-message">
    <h3>New order to the market</h3>
    <div class="form-group row" ng-controller="wallStreetMarketController">
      <label class="col-xs-2 col-form-label">Type</label>
      <div class="col-xs-10">
        <label class="col-xs-2 col-form-label">{{getOrderTypeDescription(orderType)}}</label>
      </div>
    </div>
    <div class="form-group row" ng-controller="wallStreetMarketController">
      <label class="col-xs-2 col-form-label">Asset</label>
      <div class="col-xs-10">
        <label class="col-xs-2 col-form-label">{{getAssetNameById(assetId)}}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">Quantity</label>
      <div class="col-xs-10">
        <input class="form-control" type="number" id="quantity" placeholder="Enter a quantity" ng-model="newOrder.quantity"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-2 col-form-label">Price</label>
      <div class="col-xs-10">
        <input class="form-control" type="text" id="symbol" placeholder="Enter a price you want to" ng-model="newOrder.price"/>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-xs-10">
        <button class="btn btn-primary" id="addOrder" ng-click="sendOrder()">Send Order</button>
      </div>
    </div>
</div>
